body
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif
  a
    color: #1C7396
  img
    display: inline-block;
    max-width: 100%;
    height: auto;
  .anyandgo-color
    color: #C9CFFE !important;
  .navbar-inverse
    background: transparent
    & .navbar-collapse, & .navbar-form
      border-color: #16a085
    &:hover
      background: #1abc9c
    .navbar-nav>li>a
      color: #ccc
      &:hover, &:active
        background: #16a085
  h1.big-main-logo 
    font-size: 60px;
    text-align: center
    i
      display: block
      font-size: 80px;
      color: #16A085;
    span
      display: block
      b
        color: #16A085;
  .sub-line
    color: #999;
    font-size: 18px;
    a
      color: #777;
      &:hover
        color: #555;
        text-decoration: none;
  .con-section-2
    background: rgb(46, 150, 184);
  section
    padding: 45px 30px;
    min-width: 280px;
    min-height: 380px;
  .color-1
    background: #16A085;
  .color-2
    background: #1ABC9C;
  .color-3
    background: #EEE;
  .hammerfont
    font-family: 'Hammersmith One', sans-serif;
    color: #C9CFFE !important;
  .navbar
    margin: 0;
  .neck
    margin: 0
    padding: 0 
    background-color: #2B2A28
    background-image:url('../img/bg-11-full.jpg');
    background-position: center
    h1
      font-size: 55px;
      text-shadow: 3px 7px 1px rgba(0,0,0, 0.2);
    p
      margin-bottom: 15px;
      font-size: 21px;
      font-weight: 200;
    .carousel
      height 350px
      ol
        width 100%
        margin 0 auto
        left 0
        border-radius 0
      .carousel-inner
        .item
          height 350px
          background-repeat no-repeat
          background-position center center
          background-size cover
          .carousel-caption
            background-color rgba(33,33,33, 0.9)
            box-shadow: 2px 2px 2px #000;
            border-radius: 10px;
            padding 20px
            bottom 90px
            h2
              font-size 45px
            p
              font-size 26px
              text-align left 
              span
                display: block
            h2
              margin-top 0
              text-align center
    .carousel-indicators
      bottom: 0
    .carousel-control
      background: none
  .logobig, .white
    color: #fff !important
  .our-main-content
    border-top: 1px solid #e7e7e7;
    padding-top: 44px;
    .mean-logo
      height:30px;
    #side.do-collapse
      .fa-chevron-left
        display: none !important
      .fa-chevron-right
        display: block !important
      .hidden-xs
        display: none
        #content
          width: 97%;
    #side
      border-right: 1px solid #4a4a4a
      position: absolute
      top: 0;
      height: 100%;
      left: 0;
      bottom: 0;
      min-width: 260px !important;
      padding: 0;
      background-color: #4a4a4a;
      overflow: hidden;
      box-shadow: 2px -2px 10px #000;
      #topics
        .ui-fancytree
          background-color: #4A4A4A;
          color: white;
          border: none;
        .fancytree-title
          color: white;
          &:hover
            background-color: #6B6B6B;
      //overflow: auto;
      &.do-collapse
        a.collapser
          float: left;
      a.collapser
        padding: 16px;
        text-decoration: none;
        color: #777;
        float: left;
        .fa-chevron-left
          display: block
        .fa-chevron-right
          display: none
      #site-opts
        position: absolute;
        bottom: 0;
        width: 100%;
      .sidebar-nav
        background-color: #4a4a4a
        padding: 0;
        #side-chat-menu
          height: 490px;
          //overflow-y: scroll;
          overflow: hidden
          position: relative;
          li
            a.chat-selector
              padding: 0 15px 0 0;
              border-bottom: 1px solid #5B5B5B;
              img.msg-avatar
                width: 40px;
                height: 40px;
                border-radius: 0;
              .label-close
                margin: 10px 0;
                display: none
              &:hover .label-close
                display: block
        #side-menu, #side-chat-menu
          a
            color:#fff
            img.msg-avatar
              width: 20px
              height: 20px
              border-radius: 20px
            span.d-item-title
              padding-left: 10px
          li.active
            a
              color:#000
              background: #ccc
              box-shadow: inset 0 0 10px #bebebe 
              text-shadow: 1px 1px #EAEAEA
          a:hover
            color:#000
          a.group
            color:#c1c1c1
            background: #3D3D3D;
            border-bottom: 1px solid #5B5B5B;
    #content
      background: #fff
      box-shadow: 2px 0 10px #000;
      position: absolute;
      top: 0;
      //left: 196px;
      bottom: 0;
      right: 0;
      padding: 10px 35px;
      height: 100%;
      overflow: auto;
      z-index: 2;
      h1, h2, h3
        padding-top: 30px;
  .benefits-con
    background-color: rgba(33,33,33,0.9);
    box-shadow: 2px 2px 2px #000;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    h3
      text-align: center;
      img
        padding: 0 10px 10px 10px;
        width: 140px;
    .benefits
      a
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        padding: 10px 0;
        margin: 10px 0;

// Dashboard
.loadingmessage
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background: rgba(0, 0, 0, 0.9);
  color: #000;
  z-index: 999999;
  text-align: center;
  .preloading-message
    color: #fff;
    font-size: 45px;
    padding: 15px;
    border-radius: 5px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #000;
    width: 20%;
    margin: 0 auto;
    margin-top: 15%;

.board-container
  margin-top:-20px
  #side-col.do-collapse
    .fa-chevron-left
      display: none !important
    .fa-chevron-right
      display: block !important
    .hidden-xs, .fa.arrow
      display: none
    .sidebar-nav ul a
      padding: 10px
  #side-col
    border-right: 1px solid #4a4a4a
    top: 0;
    height: 100%;
    left: 0;
    bottom: 0;
    //min-width: 260px !important;
    padding: 0;
    background-color: #4a4a4a;
    overflow: hidden;
    .navbar-default, .sidebar-nav
      border: none;
    #topics
      .ui-fancytree
        background-color: #4A4A4A;
        color: white;
        border: none;
      .fancytree-title
        color: white;
        &:hover
          background-color: #6B6B6B;
    //overflow: auto;
    &.do-collapse
      a.collapser
        float: left;
    a.collapser
      padding: 16px;
      text-decoration: none;
      color: #777;
      float: right;
      .fa-chevron-left
        display: block
      .fa-chevron-right
        display: none
  .sidebar-con
    padding-left: 0
    .sidebar-nav
      padding: 0
      & > ul > li
        //border-bottom: 1px solid #e7e7e7
      .d-item-title
        padding-left: 10px
.dropdown-menu-bubble-right:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu-bubble-right:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

// Sections
section.animated.fadeIn {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

// Calendar
.calendar-resume
  padding: 30px 0
  color: #fff
  text-align: center
  font-size: 18px
  li
    padding: 10px 30px
  i
    font-size: 60px

// Desafio
.desafio-con
  text-align: center
  color: #fff
  .tech
    padding: 10px 0;
  a
    height: 79px
    width: 76px
    display: inline-block
    opacity: 0.8
    background: url('../sponsors/tech-logos.png') no-repeat;
    &:hover
      opacity: 1
  .tech-anyandgo
    background-position: -11px -9px
  .tech-mongo
    background-position: -124px -10px
  .tech-express
    background-position: -199px -9px
  .tech-angularjs
    background-position: -276px -7px
  .tech-nodejs
    background-position: -356px -9px
  .tech-famous
    background-position: -437px -8px
  .tech-backbone
    background-position: -519px -7px
  .tech-reactjs
    background-position: -602px -9px
  .tech-ionic
    background-position: -682px -6px
  .tech-auth0
    background-position: -761px -6px
  .tech-sails
    background-position: -841px -6px 
  .button
    display: inline-block;
    border: solid 2px #FFF;
    background: rgba(0,0,0,0);
    color: #FFF;
    font-size: 18px
    text-transform: uppercase;
    width: 300px
    height: 45px
    line-height: 45px
    margin-top: 100px;
    &:hover, &:active
      border: solid 2px #FFF;
      background: #FFF;
      color: #1ABC9C;
      text-decoration: none;
  ul.fa-ul > li
    font-size: 18px;
    line-height: 26px;
  
// Jurado
.jurado-con
  color: #fff
  text-align: center
  font-size: 18px
  margin-top: 40px
  a
    color: #fff
    text-decoration: none
  ul
    padding-top: 30px
  li > a > img
    max-width: 60%
  .button
    display: inline-block;
    border: solid 2px #fff;
    background: rgba(0,0,0,0);
    color: #fff;
    font-size: 18px
    text-transform: uppercase;
    width: 300px
    height: 45px
    line-height: 45px
    margin-top: 100px;
    &:hover, &:active
      border: solid 2px #fff;
      background: #fff;
      color: #16A085;
      text-decoration: none;
    
// Criterios
.criterios-con
  text-align: center
  font-size: 18px
  margin-top: 40px
  margin-bottom: 40px;
  color: #666
  h2
    color: #666
  li > img
    max-width: 60%
  .button
    display: inline-block;
    border: solid 2px #666;
    background: rgba(0,0,0,0);
    color: #666;
    font-size: 18px
    text-transform: uppercase;
    width: 300px
    height: 45px
    line-height: 45px
    margin-top: 50px;
    margin-bottom: 50px;
    &:hover, &:active
      border: solid 2px #666;
      background: #666;
      color: #eee;
      text-decoration: none;
  ul.fa-ul > li
    font-size: 18px;
    line-height: 26px;

// Auspiciantes
.auspiciantes-con
  text-align: center
  img
    max-width: 200px

// Social Networks
.con-social-networks
  text-align: center
  .social-networks-list
    padding-top: 180px
    li
      padding: 20px
    a
      font-size: 55px;
      color: #999;
      &:hover
        color: #ccc;
.go-up
  display: inline-block
  border-radius: 5px
  background: #ccc;
  color: #fff
  font-size: 30px
  width: 45px
  height: 45px
  line-height: 45px
  &:hover, &:active
    opacity: 0.9
    background: #ccc;
    color: #fff !important


// Flip Clock 
.flip-clock-wrapper
  max-width: 650px
  margin: 10px auto
  padding-left: 14px
  .flip-clock-dot
    background: #16a085
    box-shadow: 0 0 0 #16a085
  .flip
    box-shadow: 0 2px 5px #16a085
  .flip-clock-label
    color: #fff
    font-size: 20px

// https://docs.angularjs.org/api/ng/directive/ngCloak
// http://stackoverflow.com/questions/12866447/prevent-double-curly-brace-notation-from-displaying-momentarily-before-angular-j
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
        
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .sidebar-con {
    padding: 0;
    .d-item-title {
      display: none;
    }
  }
  .main-con {
    padding: 0;
  }

  body h1.big-main-logo {
    font-size: 30px;
  }

  body section {
    padding: 20px 30px;
    min-height: 280px;
  }

  .neck-step-2 {
    padding: 60px 0;
    margin: 0 -5px;
  }
  .flip-clock-wrapper {
    max-width: 650px;
    zoom: 0.4;
  }
}

// Videos
// https://github.com/brandly/angular-youtube-embed#responsive-videos
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.arrow-separator
{
    position: relative;
}

.arrow-separator:after
{
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 12px;
    left: 50%;
    margin-left: -12px;
    z-index: 11;
}

.arrow-white:after
{
    border-color: #FFF rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0); /** Using RGB to remove dark line in Firefox **/
}

.arrow-theme:after
{
    border-color: #16A085 rgba(22,160,133,0) rgba(22,160,133,0) rgba(22,160,133,0);
}

.arrow-themelight:after
{
    border-color: #1ABC9C rgba(26,188,156,0) rgba(26,188,156,0) rgba(26,188,156,0);
}

.arrow-grey:after
{
    border-color: #EEE rgba(238,238,238,0) rgba(238,238,238,0) rgba(238,238,238,0);
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
        
}

/* Twitter Bootstrap 3.2.0 Callout CSS Styles */
/* http://cpratt.co/twitter-bootstrap-callout-css-styles/ */ 
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
/* Metis Menu */
.sidebar-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
  background-image: linear-gradient(to right, #333333 10px, #222222 10px);
  background-repeat: repeat-x;
}
.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
  outline: none;
}
.sidebar-nav ul li, .sidebar-nav ul a {
  display: block;
}
.sidebar-nav ul a {
  padding: 10px 20px;
  color: #aaa;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.sidebar-nav ul li ul li ul li a {
  background: rgba(93, 93, 93, 0.54);
}
.sidebar-nav ul a:hover, .sidebar-nav ul a:focus, .sidebar-nav ul a:active {
  color: #fff;
  text-decoration: none;
}
.sidebar-nav ul ul a {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-nav .nav > li > a:hover, .sidebar-nav .nav > li > a:active, .sidebar-nav .nav > li > a:focus,
.sidebar-nav ul ul a:hover, .sidebar-nav ul ul a:focus, .sidebar-nav ul ul a:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav-item {
  padding-left: 5px;
}
.sidebar-nav-item-icon {
  padding-right: 5px;
}
